{% load static %}

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{{request.user.userprofile.avatar.url}}" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
        <p>{{request.user.username}}</p>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="active treeview">
        <a href="{% url 'dashboard'%}">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="{% url 'profiles:profile'%}">
          <i class="fa fa-pencil"></i> <span>Profile</span>
        </a>
      </li>
      <li>
       <a href="{% url 'kyc:kyc_form'%}">
          <i class="fa fa-calendar"></i> <span>KYC Form</span>
        </a> 
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>