{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
 {% include 'snippets/dashboard_sidebar.html' %}

 {% for message in messages %}
    {% if message %}
            <div class="alert alert-danger container" style="textalign:center">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                <p>{{message}}</p>
            </div>
    {% endif %}
    {% endfor %}

 <style>
{% comment %} body {
    margin: 0;
    padding-top: 40px;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
} {% endcomment %}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
	
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
	padding: 1rem;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 14px;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 14px;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
    padding:20px;
}
.detail_body{
	padding-right:60px;
    padding-left:60px;
}

#current_balance{
  color:green;
}
#msg_select_card{
  font-size:20px;
  font-weight:normal;
}
 </style>



<div class="container row">
  <div class="col-xl-9 col-lg-11 col-md-12 col-sm-12 col-12 detail_body">
    <div class="card h-100">
      <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="card-body">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mb-2 text-primary">Personal Details</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                {% bootstrap_field form.first_name %}
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                {% bootstrap_field form.last_name %}
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                {% bootstrap_field form.age %}
              </div> 
            </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                {% bootstrap_field form.gender %}
              </div>
            </div>
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mt-3 mb-2 text-primary">Present Address</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                {% bootstrap_field form.street_address %}
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                          {% bootstrap_field form.nationality %}
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                {% bootstrap_field form.city %}
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                {% bootstrap_field form.country %}
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                {% bootstrap_field form.phone_number %}
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                {% bootstrap_field form.state %}
              </div>
            </div> 
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                {% bootstrap_field form.zip_code %}
              </div>
            </div> 	
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mt-3 mb-2 text-primary">Image Proofs</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                {% bootstrap_field form.verification_field %}
                <label class="hand-cursor">
               <span  title="story cover" class="fa fa-camera" ></span>
                <input type="file" onchange="readURL(this);" name="pass_port_copy" accept="image/*" title="image proof" required="" id="id_pass_port_copy" nv-file-select uploader="$ctrl.uploader"  style="display:none" />
                <img id="previewHolder" width="200px" height="auto"/>
                </label>

                {% comment %} <input type='file' onchange="readURL(this);" />
    <img id="blah" src="#" alt="your image" /> {% endcomment %}
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                  {% comment %} {% bootstrap_field form.selfie_proof %}  {% endcomment %}
                <label class="hand-cursor">
                <p> Your Selfie</p>
               <span  title="story cover" class="fa fa-camera" ></span>
                <input type="file" onchange="readURLsec(this);" name="selfie_proof" accept="image/*" title="selfie proof" required="true" id="id_selfie_proof" nv-file-select uploader="$ctrl.uploader"  style="display:none" />
                <div class="help-block"></div>
                <img id="previewHolder_sec" width="200px" height="auto"/>
                </label>
              </div>
            </div>
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12  col-md-12 col-sm-12 col-12">
              <h6 class="mt-3 mb-2 text-primary">Wallet Connect</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <ul>      
                    <li>Make sure to connect with one of the following wallet connect</li>
                    <li>Dont connect both at the same time.</li>
                </ul>
                <div id="root"></div>
                {% bootstrap_field form.wallet_address %}
              </div>
            </div>
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mt-3 mb-2 text-primary">Card</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <ul>      
                    <li>You should have at least 500 tokens for silver</li>
                    <li>You should have at least 1000 tokens for golden</li>
                    <li>You should have at least 1500 tokens for Prepaid</li>
                </ul>
                <span id="current_balance"></span><br>
                <span id="msg_select_card"></span>
                {% bootstrap_field form.card %}
              </div>
            </div>
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-right">
                <button type="submit" id="submit" name="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% comment %} <div class="page-content">
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <h1 style="text-align: center;font-weight:bold">Step One(Personal Details)</h1>
    {% bootstrap_field form.first_name %}
    {% bootstrap_field form.last_name %}
    {% bootstrap_field form.age %}
    {% bootstrap_field form.gender %}
    {% bootstrap_field form.nationality %}
    {% bootstrap_field form.city %}
    {% bootstrap_field form.country %}
    {% bootstrap_field form.state %}
    {% bootstrap_field form.zip_code %}
    {% bootstrap_field form.user_address %}

    <h1 style="text-align: center;font-weight:bold">Step Two(Picture Proofs)</h1>
    {% bootstrap_field form.pass_port_copy %}
    {% bootstrap_field form.selfie_proof %}

    <h1 style="text-align: center;font-weight:bold">Step Three(Add wallet)</h1>
    <ul>      
    <li>Make sure to connect with one of the following wallet connect</li>
    <li>Dont connect both at the same time.</li>
    </ul>
    <div id="root"></div>
    <br>
    {% bootstrap_field form.wallet_address %}

    <h1 style="text-align: center;font-weight:bold">Step Four(Choose card)</h1>
    <ul>      
    <li>You should have at least 500 tokens for silver</li>
    <li>You should have at least 1000 tokens for golden</li>
    <li>You should have at least 1500 tokens for Prepaid</li>
    </ul>
    {% bootstrap_field form.card %}


    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
    </form>
</div> {% endcomment %}


<script src="{% static 'dotescrow/build/bundle.js'%}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>   

window.addEventListener("load", (e) => {
  setInterval(function checkConnection() {
// var address =null    
if ($("#walletconnect")[0]){
    // Do something if class exists
    wallet_connect_address = $('#walletconnect').text()
    console.log('i am in in in ',wallet_connect_address)
    mew_wallet_connect_address = $('#mew_walletconnect').text()
    console.log('i gatch you ',mew_wallet_connect_address)
    field_address =  $('#walletaddressinput').text()
    //let response = $('#walletconnect').text();
    if(wallet_connect_address !== "" && field_address === "") {
       console.log('i am true ',wallet_connect_address)
    document.getElementById('walletaddressinput').setAttribute('type','text');
    document.getElementById('walletaddressinput').value = wallet_connect_address;
    } else if(mew_wallet_connect_address !== "" && field_address === "") {
      document.getElementById('walletaddressinput').value = mew_wallet_connect_address;
    }
    
    address = document.getElementById('walletaddressinput').value
    console.log('address aa gya',address)
    $.ajax({
      type: 'GET',
      url: '{% url "kyc:wallet_balance" %}',
      data: {
        address: address,
        //address:$('.sc-fFSRdu').text()
        //csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'get'
      },
      success: function (json) {
        //document.getElementById("tested").innerHTML = json['result']
        //console.log(address,'im address')
        msg = json['error']
        if(msg!==null){
          $('#current_balance').text(msg);
        }
        int_msg = json['error1']
        if (int_msg!=null && int_msg >= 500 ){
          document.getElementById("id_card").disabled= false
        } else{
          document.getElementById("id_card").disabled= true
          //document.getElementById('id_card').getElementsByTagName('option')[""].selected = 'selected'
        }
        console.log(int_msg,"hhehehehehehehehehehheheheheheheheehh")
        console.log(msg,"i'm")
        var op = document.getElementById("id_card").getElementsByTagName("option");
        for (var i = 0; i < op.length; i++) {
          // lowercase comparison for case-insensitivity
          if (int_msg < 500) {
            op[i].disabled = true;
            $('#msg_select_card').text("You can't buy any card.");
          }
          if (int_msg < 1000 && int_msg >= 500 ) {
            op[1].disabled = false;
            op[2].disabled = true;
            op[3].disabled = true;
            $('#msg_select_card').text("You can buy Silver card");
          }
          if (int_msg < 1500 && int_msg >= 1000 ) {
            op[1].disabled = false;
            op[2].disabled = false;
            op[3].disabled = true;
            $('#msg_select_card').text("You can buy Silver or Gold card.");
          }
          if (int_msg >= 1500){
            op[1].disabled = false;
            op[2].disabled = false;
            op[3].disabled = false;
            $('#msg_select_card').text("You can buy any card.");
          }
        }

        
      },
      error: function (xhr, errmsg, err) {
      }
    });
    
} else if($("#walletconnect")[0]){
    // Do something if class does not exist
    console.log('i know you')
} else{
  console.log('i dont know you')
}
  }, 1000)
});
 

    
</script>


<script>
function readURL(input) {
  console.log("mujhy mil jao")
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      $('#previewHolder').attr('src', e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
  } else {
    alert('select a file to see preview');
    $('#previewHolder').attr('src', '');
  }
}

$("#id_pass_port_copy").change(function() {
  readURL(this);
});
</script>

<script>
function readURLsec(input) {
  console.log("mujhy mil jao")
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      $('#previewHolder_sec').attr('src', e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
  } else {
    alert('select a file to see preview');
    $('#previewHolder_sec').attr('src', '');
  }
}

$("#id_selfie_proof").change(function() {
  readURL(this);
});

</script>
{% comment %} let response = $('#walletconnect').text();
if(response != null) {
document.getElementById('walletaddresssinput').setAttribute('type','text');
document.getElementById('walletaddresssinput').value = response;
} {% endcomment %}

{% endblock content %}