{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'snippets/dashboard_sidebar.html' %}

          <h1>
            Dashboard
            <small>Version 2.0</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol>
  
{% comment %} <script src="{% static 'dotescrow/build/0.bundle.js'%}"></script> {% endcomment %}

{% comment %} 
<script>
/** var address =null    
if (address==null){
window.addEventListener("load", (e) => {
  setInterval(function checkConnection() {
// var address =null    
 if ($(".sc-fFSRdu")[0]){
    // Do something if class exists
    address = $('.sc-fFSRdu').text()
    console.log('i am in in in ',address)
    $.ajax({
      type: 'GET',
      url: '{% url "test" %}',
      data: {
        address: address,
        //address:$('.sc-fFSRdu').text()
        //csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'get'
      },
      success: function (json) {
        document.getElementById("tested").innerHTML = json['result']
        console.log(address,'im address')
      },
      error: function (xhr, errmsg, err) {
      }
    });
    
} else if($(".cfylJP")[0]){
    // Do something if class does not exist
    console.log('i know you')
} else{
  console.log('i dont know you')
}
  }, 1000)
})
}

 
$(document).on('click', '.test', function (e) {
    e.preventDefault();

     $.ajax({
      type: 'GET',
      url: '{% url "test" %}',
      data: {
        test: address,
        address:$('.sc-fFSRdu').text()
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'get'
      },
      success: function (json) {
        document.getElementById("tested").innerHTML = json['result']
        console.log(address,'im address')
      },
      error: function (xhr, errmsg, err) {
      }
    });
  }) 
  **/
    
</script> {% endcomment %}

<script> 

{% comment %} window.addEventListener("load", (e) => {
  setInterval(function checkConnection() {
      
 if ($(".sc-fFSRdu")[0]){
    // Do something if class exists
    var address = $('.sc-fFSRdu').text()
    console.log('i am in in in ',address)
} else if($(".cfylJP")[0]){
    // Do something if class does not exist
    console.log('i know you')
} else{
  console.log('i dont know you')
}
  }, 1000)
})
  {% endcomment %}

    </script>
 {% endblock content %}